body {
    background-color: #ffb1b1;
}

h1 {
    color: rgb(255, 79, 79);
    font: 40px monoSpace;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font: 14px courier;
    text-align: left;
}

pcenter {
    color: rgb(255, 218, 218);
    font: 20px courier;
    text-align: center;
    text-shadow: 0px 0px 4px #ffffff;
}

.line {
    display: flex;
    justify-content: space-between;
}

.box {
    text-align: center;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    margin: 4%;
    background-image: url(assets/photobg.png);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 73, 73, 0.829);
    background-attachment: fixed;
    padding: 2%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2%;
    color: rgb(255, 255, 255);
    font: 20px monoSpace;
    text-align: center;
    background-color: #ff7171;
    border-radius: 30px;
    box-shadow: 0 0px 40px 0 #ff4747;
    text-shadow: 0px 0px 4px #ffffff;
    z-index: +100;
    margin: 4%;
    margin-bottom: 6%;
    overflow-x: scroll;
    height:60px;

}

div.container {
    width: 600px;
}

.center {
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.split {
    box-sizing: border-box;
    width: 25%;
    float: left;
}

.mask1 {
    border-radius: 30px;
    max-width: 600px;
    height: 200px;
    overflow-y: scroll;
    background: url(assets/photobg.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(255, 73, 73, 0.829);
    margin: 4%;


}

.box2 {
    color: rgb(255, 255, 255);
    font: 40px monoSpace;
    background-color: #ff7171;
    margin: 4%;
    border-radius: 30px;
    box-shadow: 0 0px 40px 0 #ff4747;
    text-shadow: 0px 0px 4px #ffffff;
    padding: 1%;
}

.box1 {
    margin: 1cm;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    border-radius: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14%;
    text-decoration: none;
    width: 110px;
}

li a:hover {
    background-color: #ff7a7a;
}